body{
    background: #ababec;
    color: #1f1f29;
}
.container{
    width: 85%;
    margin: auto;
    background-color: rgb(246, 255, 220);
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
}